@import "./../../styles/utilities";
@import "./../../styles/settings/settings.variables";

.about__content {
  margin-left: 2rem !important;
  margin-top: 0 !important;

  p {
    line-height: 1.37rem;
    font-size: 1.1rem;
  }

  &__subtitle {
    margin-top: 2rem;
  }

  &__image {
    height: 15rem;
    width: 90%;
    object-fit: contain;

    @media only screen and (min-width: map-get($responsive, "lg")) {
      margin-top: 2rem;
    }
  }
}
