@import "./../../../styles/utilities";

.animals-list {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &--with-limit {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(4, 1fr) 0.5fr;
    }
  }
}
