@import "./settings/settings.normalize";
@import "./settings/settings.variables";
@import "./utilities";

html,
body,
#root {
  background-color: map-get($colors, "primary-background");
  font-family: map-get($fonts, "primary");
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}

#root {
  @extend .flex-both-end;
  align-items: end;
  flex-direction: column;
  color: map-get($colors, "primary-font");
  background-image: url("./../assets/onca.png"), url("./../assets/elipse.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-x: -8%, right;
  background-position-y: top, top;
  background-attachment: local, local;
  background-size: 27%, 7%;
  transition: all 250ms ease-in-out;

  &.tucano-image {
    background-image: url("./../assets/tucano.png"), url("./../assets/elipse.svg");
    background-size: 28%, 7%;
  }
}

.main {
  height: 100%;
  width: 80%;
  padding-right: 3.5rem;

  &__content {
    margin: 2rem 0;
    min-height: 28rem;
    transition: all 250ms ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 20px;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;

    &:hover {
      background-color: #a8bbbf;
    }
  }
}
