@import "./../../styles/utilities";
@import "./../../styles/settings/settings.variables";

.home {
  &__content {
    @extend .flex-align-center;
    flex-direction: column;
    padding: 0 2rem;

    @media only screen and (max-width: map-get($responsive, "xsm")) {
      padding: 0;
    }

    &__animals {
      display: grid;
      grid-template-columns: repeat(3, 0.8fr);
      grid-gap: 1rem;

      @media only screen and (max-width: map-get($responsive, "xsm")) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
