@import "./../../styles/utilities";

.home {
  &__content {
    @extend .flex-align-center;
    flex-direction: column;
    grid-gap: 1.3rem;

    &__animals {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.3rem;
    }
  }
}
