.all-animals__content {
  margin-left: 2rem !important;
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;

  &__image {
    height: 8.75rem;
    width: 8.75rem;
    border-radius: 0.4rem;
    object-fit: cover;
  }
}
