.animals-by-type {
  &__content {
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    &__type {
      margin-top: 1rem;
      margin-left: 2rem;

      &__row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        grid-gap: 2rem;
        margin-top: 1rem;
      }
    }
  }
}
