@import "./../../../styles/utilities";

.header {
  width: 80%;
  margin-top: 3rem;
  padding-left: 2rem;

  &__title {
    @extend .main-title;
    max-width: 80%;
  }

  &__footer {
    margin-top: 1rem;
    width: 74%;
    @extend .flex-align-end;
    justify-content: space-between;

    &__paragraph {
      @extend .paragraph;
      max-width: 50%;
      margin-top: 1rem;
    }
  }
}
