$colors: (
  'primary-font': #313131,
  'primary-background': #fff,
  'secondary': #FF9412
);

$fonts: (
  'primary': (
    'Montserrat',
    sans-serif,
  )
);

$responsive: (
  'xxsm': 375px,
  'xsm': 425px,
  'sm': 810px,
  'md': 1024px,
  'lg': 1280px,
  'xlg': 1440px,
  'xxlg': 2000px,
);